@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;700&display=swap');

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

body {
    font-family: 'Inter', sans-serif;
}

main {
    margin: 0 30px;
}

.title {
    text-transform: uppercase;
}

img {
    width: 100%;
    height: auto;
}

.image-container img {
    height: 400px;
    object-fit: cover;
}

article {
    margin: 0 24px;
}

a {
    display: block;
    width: fit-content;
    background-color: blueviolet;
    color: white;
    text-decoration: none;
    padding: 8px 12px;
    border-radius: 5px;
}

h1, h2 {
    text-align: center;
    margin-top: 18px;
    margin-bottom: 24px;
}

p {
    margin: 12px 0;
}

ul, ol {
    /* list-style-type: none; */
}

li {
    list-style-position: inside;
}

h3 {
    margin-bottom: 8px;
    margin-top: 24px;
}

.photos {
    width: 90%;
    margin: 0 auto;
    margin-bottom: 16px;
    max-width: 1000px;
}

.photos img {
    margin: 0 8px;
}

@media (max-width: 500px) {
    main {
        margin: 0;
    }
}
